language: c
script:
- curl https://github.com/ashinn/chibi-scheme/archive/0.8.tar.gz > chibi-scheme-0.8.tar.gz
- tar -xf chibi-scheme-0.8.tar.gz
- (cd chibi-scheme-0.8 && PREFIX=$HOME make install)
- chibi-scheme -e '(begin (display "Hello world") (newline))'
